# Ignore Maven build outputs (The symlinked directory)
target/
*.jar
*.war
*.ear

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.metadata/
.classpath
.project
.settings/

# Ignore VS Code configuration files
.vscode/

# Ignore Mac OS system files
.DS_Store
